<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content center>
    <ion-grid>
        <ion-row center class="ion-justify-content-center ion-align-items-center">
            <ion-col size-xl="4" size-lg="4" size-md="6" size-xs="12">
                <ion-card>
                    <ion-card-content>
                        <ion-item>
                            <ion-label position="floating" translate>Login</ion-label>
                            <ion-input type="text" [(ngModel)]="loginForm.login"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating" translate>Password</ion-label>
                            <ion-input type="password" [(ngModel)]="loginForm.password"></ion-input>
                        </ion-item>
                        
                        <ion-button expand="block" margin color="success" (click)="login()" translate>Sign in</ion-button>
                        <ion-button expand="block" margin fill="clear" [routerLink]="['/register']" translate>Sign up</ion-button>

                        <app-language-selector></app-language-selector>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
